{{set-body-class "sub-category courses"}}
{{course-outline/sub-category-header
  catTitle=category.title
  subCatTitle=subCategory.title
}}
<header class="course-header-banner">
  {{components/courses-background-image
    class="background-image course-banner-image"
    imageUrl=subCategory.bannerImage
  }}
</header>
<nav id="scroll-to-section" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="child-items-navigation p-0 m-0">
          <li><a href="#">Standard Excel Courses</a></li>
          <li><a href="#">Business Intelligence Excel Course</a></li>
          <li><a href="#">Excel VBA Courses</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<section id="course-sub-category">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 course-subcategory-content pr-5">
        <div class="course-content">
          {{html-safe subCategory.content}}
        </div>
      </div>
      <div class="col-md-4 course-subcategory-sidebar">
        {{forms/request-a-callback-form}}
        {{components/testimonials/default-testimonials _testimonials=testimonials}}
      </div>
    </div>
  </div>
</section>
