<div class="course-content">
  <div class="row">
    <div class="col-9 pl-0">
      <h2>Which Excel course is right for you?</h2>
      <p>
        We have bags of experience from teaching Excel over the last 20
        years and we can help you choose the most useful course for your
        purposes.
      </p>
    </div>
    <div class="col-3 pr-0">
      <img class="subCategory-image float-right" src="/images/dummy-image.png" alt="image" >
    </div>
  </div>
  <div id="standard-excel" class="mb-5">
    <div class="row">
      <h2>Standard Excel Courses</h2>
    </div>
    <div class="row">
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #6394ad;">
            <h3>Excel Introduction</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Beginner</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #427c9f;">
            <h3>Excel Intermediate</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Intermediate</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #124257;">
            <h3>Excel Advanced</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Advanced</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="business-intelligence" class="mb-5">
    <div class="row">
      <h2>Business Intelligence Excel Courses</h2>
    </div>
    <div class="row">
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #7fb583;">
            <h3>Excel Intermediate</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Intermediate</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #5aac60;">
            <h3>Excel Pivot Tables</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Intermediate</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #37863d;">
            <h3>Excel PowerPivot</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Advanced</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="excel-vba" class="mb-5">
    <div class="row">
      <h2>Excel VBA Courses</h2>
    </div>
    <div class="row">
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #d1be9e;">
            <h3>Excel VBA Essentials</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Intermediate</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #cca96d;">
            <h3>Excel VBA</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Intermediate</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
      <div class="col card mt-4">
        <div class="card-body p-0">
          <div class="card-title" style="background-color: #ba9a64;">
            <h3>Excel Public Course</h3>
          </div>
          <div class="card-text">
            <div class="level mb-4">
              <i class="fas fa-circle"></i>
              <small>Beginner</small>
            </div>
            <p>
              {{truncate
                "This course will provide you with the foundational Excel
                knowledge and skills necessary for business today. As you
                apply the robust functionality that's part of Excel to your
                organization's raw data, you will be able to gain a level of
                insight into that data that would have been almost impossible
                years ago. Excel helps you organize, calculate, analyze,
                revise, amend, and present your data in ways that will help
                you and the decision makers in your organization steer
                forward in the right direction"
                250 true
              }}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="view-outline">
            View Outline
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
