{{set-body-class "outline course"}}
<header id="outline-header" class="position-relative">
  {{#components/outline-background-image
    class="outline-container-holder background"
    imageUrl=(if course.bannerImageUrl course.bannerImageUrl
    (if course.subCategories.firstObject.bannerImageUrl
      course.subCategories.firstObject.bannerImageUrl
      course.categories.firstObject.bannerImageUrl
    ))
  }}
    <div class="container outline">
      <div class="row">
        <div class="col-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{#link-to "course" course.categories.firstObject.slug}}
                  {{course.categories.firstObject.title}} Training
                {{/link-to}}
              </li>
              <li class="breadcrumb-item">
                {{#link-to "course.sub-category" course.subCategories.firstObject.slug}}
                  {{course.subCategories.firstObject.title}}
                {{/link-to}}
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{course.title}}
              </li>
            </ol>
          </nav>
          <h1 class="display-3 text-white mb-2">{{course.title}}</h1>
          <ul class="course-header-info p-0 text-white">
            {{#if course.levels}}
              <li><strong>Level:</strong> {{course.levels}}</li>
            {{/if}}
            {{#if course.days}}
              <li><strong>Duration:</strong> {{format-duration course.days}}</li>
            {{/if}}
          </ul>
        </div>
        <div class="col-4">
          <div class="export-share-button float-right">
            <a href={{course.pdfUrl}} target="_blank" rel="noopener"><i class="fas fa-file-pdf mr-3"></i>Download PDF</a>
          </div>
        </div>
      </div>
    </div>
  {{/components/outline-background-image}}
</header>
<section id="tabs">
  <div class="container">
    <div class="row">
      <div class="col-8 pr-5">
        <div class="custom-tabs position-relative">
          {{#bs-tab as |tab|}}
            {{#tab.pane title="Overview"}}
              {{outline-tabs/overview course=course}}
            {{/tab.pane}}
            {{#tab.pane title="Whats Included"}}
              {{outline-tabs/whats-include}}
            {{/tab.pane}}
          {{/bs-tab}}
        </div>
      </div>
      <div class="col-4">
        <div class="outline-sidbar">
          {{forms/get-started-form
            courseName=course.title
            lead=lead
            onSubmit=(action "createLead")
          }}
          {{outline-sidebar/related-course
            currentCourseId=course.id
            courses=subCategory.courses
          }}
          {{outline-sidebar/testimonials}}
        </div>
      </div>
    </div>
  </div>
</section>
