{{set-body-class "outline course"}}
<header id="outline-header" class="position-relative">
  <div class="outline-container-holder">
    <div class="container outline">
      <div class="row">
        <div class="col-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                {{#link-to "course" course.categories.firstObject.slug}}
                  {{course.categories.firstObject.title}}
                {{/link-to}}
              </li>
              <li class="breadcrumb-item">
                {{#link-to "course.sub-category" course.subCategories.firstObject.slug}}
                  {{course.subCategories.firstObject.title}}
                {{/link-to}}
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{course.title}}
              </li>
            </ol>
          </nav>
          <h1 class="display-3 text-white mb-2">{{course.title}}</h1>
          <ul class="course-header-info p-0 text-white">
            <li><strong>Level:</strong> {{course.levels}}</li>
            <li><strong>Duration:</strong> {{format-duration course.days}}</li>
            <li><strong>Versions:</strong> 2007, 2010, 2013, 2016, Office 35</li>
          </ul>
        </div>
        <div class="col-4">
          <div class="export-share-button float-right">
            <a href={{course.pdfUrl}} target="_blank" rel="noopener"><i class="fas fa-file-pdf mr-3"></i>Download PDF</a>
            <a href="#"><i class="fas fa-share-alt mr-3"></i>Share this</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if course.bannerImageUrl}}
    {{components/outline-background-image
      class="background-image course-banner-image background"
      imageUrl=course.bannerImageUrl
    }}
  {{else if course.subCategories.firstObject.bannerImageUrl}}
    {{components/outline-background-image
      class="background-image course-banner-image background"
      imageUrl=course.subCategories.firstObject.bannerImageUrl
    }}
  {{else if course.categories.firstObject.bannerImageUrl}}
    {{components/outline-background-image
      class="background-image course-banner-image background"
      imageUrl=course.categories.firstObject.bannerImageUrl
    }}
  {{/if}}
</header>
<section id="tabs">
  <div class="container">
    <div class="row">
      <div class="col-8 pr-5">
        <div class="custom-tabs position-relative">
          {{#bs-tab as |tab|}}
            {{#tab.pane title="Overview"}}
              {{outline-tabs/overview course=course}}
            {{/tab.pane}}
            {{#tab.pane title="Whats Included"}}
              {{outline-tabs/whats-include}}
            {{/tab.pane}}
          {{/bs-tab}}
        </div>
      </div>
      <div class="col-4">
        <div class="outline-sidbar">
          {{forms/get-started-form}}
          {{outline-sidebar/related-course}}
          {{outline-sidebar/testimonials}}
        </div>
      </div>
    </div>
  </div>
</section>
