<div class="right-side-bar">
  <div class="col-md-12 px-0">
    <div class="rct-container">
      <div
        class="carousel slide px-4 py-4 mx-2"
      >
        <h2 class="my-3">Testimonials</h2>
        <ul class="client-testimonials-listing p-0">
          <BsCarousel
            @autoPlay={{true}}
            @wrap={{true}}
            @index={{0}}
            @interval={{5000}}
            @keyboard={{true}}
            @ltr={{true}}
            @pauseOnMouseEnter={{true}}
            @showControls={{false}}
            @showIndicators={{true}}
            as |car|>
            {{#each testimonialsTextContent as |testimonialsItem|}}
              <car.slide>
                <li>
                  <i class="fas fa-quote-left mb-2"></i>
                  {{testimonialsItem.content}}
                  <div class="gravatar-with-info my-4">
                    <div class="gravatar d-inline-block mr-3">
                      <img
                        class="rounded-circle"
                        src={{testimonialsItem.image}}
                        alt="image"
                      >
                    </div>
                    <div class="info d-inline-block position-absolute">
                      <strong>{{testimonialsItem.name}}</strong><br>
                      <p>{{testimonialsItem.company}}</p>
                    </div>
                  </div>
                </li>
              </car.slide>
            {{/each}}
          </BsCarousel>
        </ul>
      </div>
    </div>
  </div>
</div>
{{yield}}
