{{head-layout}}
<section id="top" class="py-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="top-contact">Speak to our team now  <strong>0118 324 3000</strong></span>
      </div>
    </div>
  </div>
</section>
{{#bs-navbar
  id="navbarSupportedContent"
  class="py-4"
as |navbar|
}}
  <div class="container">
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to
        "index"
        class="navbar-brand"
      }}
      {{/link-to}}
    </div>
    {{#navbar.content}}
      {{#navbar.nav class="ml-auto" as |nav|}}
        {{#each menu.items as |page|}}
          {{#if page.children}}
            {{#nav.dropdown as |dd|}}
              {{#dd.toggle}}
                {{menu-item-title-html-safe _menu_Item_Title_Html_Safe=page}}<span class="caret"></span>
              {{/dd.toggle}}
              {{#dd.menu as |ddm|}}
                {{#each page.children as |child|}}
                  {{#ddm.item}}
                    {{#ddm.link-to "page" child.object_slug}}{{child.title}}{{/ddm.link-to}}
                  {{/ddm.item}}
                {{/each}}
              {{/dd.menu}}
            {{/nav.dropdown}}
          {{else}}
            {{#nav.item}}
              {{#nav.link-to "page" page.object_slug}}
                {{menu-item-title-html-safe _menu_Item_Title_Html_Safe=page}}
              {{/nav.link-to}}
            {{/nav.item}}
          {{/if}}
        {{/each}}
      {{/navbar.nav}}
    {{/navbar.content}}
  </div>
{{/bs-navbar}}

{{outlet}}

<section id="footer" class="py-5">
  <div class="container">
    <div class="row">
      <div class="menu-footer col-md-6">
        <ul class="footer-menu mb-0 p-0">
          {{#each footerMenu.items as |footerMenuItem|}}
            <li>{{#link-to "page" footerMenuItem.object_slug}}{{footerMenuItem.title}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="social-footer col-md-6">
        {{home-page-components/social-links _social_Links=socialLink}}
      </div>
      <div class="col"><hr></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {{#link-to
          "index"
          class="navbar-brand footer mt-2"
        }}
        {{/link-to}}
      </div>
      <div class="col-md-6">
        <div class="mt-4 d-table w-100">
          {{home-page-components/contact-details _contact_Details=contactDetails}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="copyright-text mt-4 text-center">
          {{home-page-components/copyright _copyrightFooter=copyrightFooter}}
        </div>
      </div>
    </div>
  </div>
</section>

{{cookie-policy
    open=(not showCookiePolicy)
    onAgree=(action "setAgreedCookie")
}}
