{{scroll-to-top}}

{{set-body-class "sub-category courses"}}
{{course-outline/sub-category-header
  catTitle=category.title
  headerSubCatTitle=subCategory.title
}}
<header class="course-header-banner">
  {{#if subCategory.bannerImageUrl}}
    {{components/courses-background-image
      class="background-image course-banner-image"
      imageUrl=subCategory.bannerImageUrl
    }}
  {{else if subCategory.categories.firstObject.bannerImageUrl}}
    {{components/courses-background-image
      class="background-image course-banner-image"
      imageUrl=subCategory.categories.firstObject.bannerImageUrl
    }}
  {{/if}}
</header>
<section id="course-sub-category">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 course-subcategory-content pr-5">
        <div class="course-content">
          <h2>Which {{subCategory.title}} course is right for you?</h2>
          {{html-safe subCategory.description}}
          <br>
          <h2>Standard {{subCategory.title}} Courses</h2>
          {{#each subCategory.courses as |course|}}
            <div class="card mt-4">
              <div class="card-body p-0">
                <div class="card-title">
                  <h5>{{course.title}}</h5>
                </div>
                <div class="card-text">
                  <p>{{course.shortDescription}}</p>
                </div>
              </div>
              <div class="card-footer">
                {{#link-to "course.sub-category.outline" course.slug class="view-outline"}}
                  View Outline
                {{/link-to}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="col-md-4 course-subcategory-sidebar">
        {{forms/request-a-callback-form
          subCategoryName=subCategory.title
          lead=lead
          onSubmit=(action "createLead")
        }}
        {{components/testimonials/default-testimonials _testimonials=testimonials}}
      </div>
    </div>
  </div>
</section>
