<div class="col px-0">
  <div class="get-in-touch-form px-4 pt-4 pb-2">
    <h2 class="mb-3">Get in touch</h2>
    <p>
      If you need any more info send us a message using this form.
      <br>
      We will get back to you within 1 to 2 working hours.
    </p>
    <form {{action "addSubscriber" on="submit"}} class="mt-4">
      <div class="form-row">
        <div class="form-group col-md-6 pr-1 mb-2">
          {{input
            id="name"
            placeholder="Name*"
            class="form-control form-control-lg"
          }}
        </div>
        <div class="form-group col-md-6 pl-1 mb-2">
          {{input
            id="phoneNumber"
            placeholder="Phone Number*"
            class="form-control form-control-lg"
          }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-1 mb-2">
          {{input
            id="email"
            placeholder="Email Address"
            class="form-control form-control-lg"
          }}
        </div>
        <div class="form-group col-md-6 pr-1 mb-2">
          {{input
            id="company"
            placeholder="Company"
            class="form-control form-control-lg"
          }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-1 mb-2">
          {{input
            id="postCode"
            placeholder="Post Code"
            class="form-control form-control-lg"
          }}
        </div>
        <div class="form-group col-md-6 pr-1 mb-2">
          {{#power-select
            class="form-control form-control-lg"
            selected=selected
            options=options
            onchange=(action "chooseOption")
          as |selectOption|
          }}
            {{selectOption}}
          {{/power-select}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 pr-1 mb-3">
          {{textarea
            id="message"
            placeholder="Your Message"
            rows="5"
            class="form-control form-control-lg"
          }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 pr-1 mb-2">
          {{g-recaptcha-v2
            siteKey=6Lfu5ogUAAAAAD0n-fJta20GLvMoWEtacLCSgjW7
            verified=(action (mut response))
          }}
        </div>
        <div class="form-group col-md-6 pl-1 position-relative">
          <button
            type="submit"
            class="btn btn-primary btn-white-hover col submit-button position-absolute"
          >
            Get in touch
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{{yield}}
