{{set-body-class "course-subcategory-listing courses"}}

{{course-outline/category-header title=category.title}}
<section id="course-parent-category">
  <div class="container py-5">
    <div class="row">
      <div class="col pr-0">
        <ul class="sub-category-listing d-table w-100">
          {{#each category.subCategories as |subCategory|}}
            {{#if (gte subCategory.courses.length 1)}}
              <li>
                {{#link-to
                  "course.sub-category"
                  subCategory.slug
                  class="course-sub-category-link"
                }}
                  {{#if subCategory.iconUrl}}
                    <div class="card-image">
                      {{courses/listing-card-image
                        class="image d-table m-auto"
                        iconUrl=subCategory.iconUrl
                      }}
                    </div>
                  {{else if subCategory.categories.firstObject.iconUrl}}
                    <div class="card-image">
                      {{courses/listing-card-image
                        class="image d-table m-auto"
                        iconUrl=subCategory.categories.firstObject.iconUrl
                      }}
                    </div>
                  {{/if}}
                  <div class="card-body">
                    <div class="course-subcategory-title mb-3">
                      {{subCategory.title}}
                    </div>
                  </div>
                {{/link-to}}
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
