<header class="subpage-header position-relative">
  <div class="subpage-header py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-3 text-white mb-0">{{_about_Us_Template.firstObject.title}}</h1>
          <div class="pre-text">
            <p>{{_about_Us_Template.firstObject.acf.header_sub_text}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header-call-to-action position-absolute">
            {{#each newLink as |callToAction|}}
              <a
                class="btn btn-primary btn-white-hover"
                href={{callToAction.link}}
                role="button"
              >
                {{callToAction.linkTitle}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="subpage-content" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pr-5">
        <div class="pr-5">
          {{textContent}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="right-side-bar">
          <div class="col-md-12 px-0">
            <div class="rct-container">
              <div
                class="carousel slide px-4 py-4 mx-2"
              >
                <h2 class="my-3">{{_testimonials_Carousel_Title.name}}</h2>
                <ul class="client-testimonials-listing p-0">
                  {{#bs-carousel
                    autoPlay=true
                    showControls=false
                    interval=2000
                    pauseOnMouseEnter=true
                  as |car|
                  }}
                    {{#each groupedTestimonials as |group|}}
                      {{#car.slide}}
                        {{#each group as |testimonialsItem|}}
                          <li>
                            <i class="fas fa-quote-left mb-2"></i>
                            {{testimonialsItem.content}}
                            <div class="gravatar-with-info my-4">
                              <div class="gravatar d-inline-block mr-3">
                                <img
                                  class="rounded-circle"
                                  src={{testimonialsItem.image}}
                                  alt="image"
                                >
                              </div>
                              <div class="info d-inline-block position-absolute">
                                <strong>{{testimonialsItem.name}}</strong><br>
                                <p>{{testimonialsItem.company}}</p>
                              </div>
                            </div>
                          </li>
                        {{/each}}
                      {{/car.slide}}
                    {{/each}}
                  {{/bs-carousel}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{yield}}
