{{set-body-class "about-us"}}
<header class="subpage-header position-relative">
  <div class="subpage-header py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-3 text-white mb-0">{{_about_Us_Template.firstObject.title}}</h1>
          <div class="pre-text">
            <p>{{_about_Us_Template.firstObject.acf.header_sub_text}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="header-call-to-action position-absolute">
            {{#each newLink as |callToAction|}}
              <a
                class="btn btn-primary btn-white-hover"
                href={{callToAction.link}}
                role="button"
              >
                {{callToAction.linkTitle}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="subpage-content" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pr-5">
        <div class="pr-5">
          {{textContent}}
        </div>
      </div>
      <div class="col-md-4">
        {{testimonials/carousel-testimonials _client_Testimonials=_client_Testimonial}}
      </div>
    </div>
  </div>
</section>
{{yield}}
