{{set-body-class "outline course"}}
<div class="subpage-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              {{#link-to "page" "courses"}}
                Courses
              {{/link-to}}
            </li>
            <li class="breadcrumb-item">
              {{#link-to "course"}}
                {{catTitle}}
              {{/link-to}}
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{headerSubCatTitle}}
            </li>
          </ol>
        </nav>
        <h1 class="display-3 text-white mb-0">{{ headerSubCatTitle }} Training Courses</h1>
      </div>
      <div class="col-lg-4">
        <div class="header-call-to-action position-absolute">
          {{#link-to "page" "contact-us" class="btn btn-primary btn-white-hover" role="button"}}
            Request More Information
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}
